beautifulsoup4==4.12.3
click==8.1.7
diskcache==5.6.3
googlesearch_python==1.2.5
IMDbPY==2022.7.9
parse_torrent_name==1.1.1
pathvalidate==3.2.0
python_trakt==1.0
PyYAML==6.0.2
Requests==2.32.3
tmdbsimple==2.9.1
pytrakt==3.4.31
xmltodict==0.13.0
youtube_dl==2021.12.17
